/**
* Mandala Audio-Video - Development
*
* version 1.x - shanti-search-mediabase.css
* -------------------------------------------------------
* University of Virginia / SHANTI MANDALA / AUDIO-VIDEO
* -------------------------------------------------------
*
*/

/**
* Search Flyout Top-Section
*/

.input-section .contextual-links-trigger{
  top: 0.3rem;
  right: .2rem;
  position: relative;
}

.input-section .toggle-link,
.input-section .advanced-view{
  display:none;
}

.input-section .input-group .btn.btn-default {
  font-size: 1.65rem;
}

.input-section .input-group .glyphicon-chevron-right:before {
  font-size: 1.5rem;
  position: relative;
  right: 0.1rem;
  top: 0.05rem;
}

.input-section .input-group .input-group-btn{
  position: absolute;
  top: 1.925rem;
  right: .1rem;
}

.input-section .input-group .form-control{
  margin-top:1.2rem;
  height: 2.4em;
}

.input-section label.flyout-search-label{
  color: #444;
  font-size: 0.93em;
  position: absolute;
  left: 4.4rem;
  top: -0.2rem;
}

.input-section label.flyout-search-label span{
  text-transform: uppercase;
  padding-right: 0.3rem;
  font-weight:bold;
}

.logged-in .input-section .shanticon-magnify,
.not-logged-in .input-section .shanticon-magnify{
  position: absolute;
  top: 3.6rem;
  left: 3.5rem;
}

.input-section .form-item-search-block-form{
  display: block;
}

.advanced-view .form-group:nth-of-type(1) { margin: 0 0 0 2rem;}
.advanced-view .form-group:nth-of-type(2) { display: none;}


.input-section .search-group .radio-inline {
  min-width: 0px !important;
}

.input-section .form-item .option.icheck-label {
  font-size: 100% !important;
}

.input-section .shanti-options .form-item {
  margin-right: 0rem;
  margin-top: 1.2rem;
  float: left;
}

.input-section .shanti-options .form-item:first-child{
  margin-left: 0;
}

.input-section .search-group .radio-inline:first-child {
  width: 1.7rem;
}

.view-section .tab-content{
  border: 1px solid #ddd;
  border-width: 0 1px;
}

.view-section .treeview h2 {
  font-size: 1.5em;
}

.view-section h2 .toggle-facet-label-search {
  float: left;
  margin-left: 0.62em;
  margin-right: .5em;
  margin-bottom: 0.5em;
  position: relative;
  top: 0.25em;
}

.view-section .nav-tabs>li.km-facet-tab a {
  font-size: 0.88em;
}

.view-section .nav-tabs>li.km-facet-tab.active>a,
.view-section .nav-tabs>li.km-facet-tab.active>a:hover,
.view-section .nav-tabs>li.km-facet-tab.active>a:active {
  font-size: 0.93em;
}

.extruder #loading-text{
  position: absolute  !important;
  left: 3.5rem !important;
}














/**
* SOLR Results
*/

.mb-solr-results .head .label {
  color: #333;
  text-transform: uppercase;
  font-size: 0.9em;
  padding-left: 1rem;
}

.mb-solr-results .head .count{
  color: #222;
}

.mb-solr-results .head table.pagerer {
  margin: -0.3rem 0 0 0;
}

.mb-solr-results .foot table.pagerer {
  margin: 1rem 0 0;
}

.mb-solr-results .results {
  margin-top: 2.75rem;
}


#no-views-filter-results {
  color: red;
  margin: 1.2rem;
  font-size: 0.9em;
}
/** No Results Header **/
.view-media-by-kmap .view-empty h3 {
  font-style: italic;
}

.view-browse-media .view-empty .no-results {
  position: absolute;
  font-style: italic;
  margin-top: 12px;
}

@media (min-width:600px) {

  .mb-solr-results .results{
    margin-top: 1rem;
  }
}




.page-search .region-sidebar-second h4{
  text-transform: capitalize;
  font-size: 1em;
}















/**
* -----------------------------------------------
* KMaps Search Flyout
* -----------------------------------------------
*/

.extruder .input-section .input-group .form-control,
.extruder .input-section .form-item-search-block-form{
  margin: 0;
}

.input-section .input-group{
  height: 65px;
  padding: 0 !important;
}

.kmaps.page-subjects .input-section .input-group{
  height: 53px;
}

.kmaps .extruder .input-section .input-group .input-group-btn{
  position: absolute;
  top: 1.9rem;
  right: 0.1rem;
}

.extruder .input-section .input-group .btn.btn-default{
  font-size:17px;
}

.extruder .input-section .input-group .glyphicon{
  position: relative;
  top: .25rem;
}

.extruder .input-section .input-group .shanticon-magnify{
  position: absolute;
  left: 1.05rem;
  top: 2.8rem;
}

.extruder .input-section label{
  margin-left: 2.5rem;
  font-size: 1em;
  color: #444;
  letter-spacing: 0.03rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 1rem;
}

.audio-video .extruder .input-section .flyout-search-label{
  display:none;
}

.extruder .input-section label span{
  text-transform: uppercase;
  font-weight: bold;
  font-size: .93em;
}




.view-section .tab-content{
  padding-top:0;
}

.view-wrap .kmaps-tt-header:first-of-type{
  height: 35px !important;
  color:transparent;
  /* padding-top: 1rem; */
}

.view-section .tab-content .tab-pane.listview{
  border-top: 10px solid transparent;
}

.view-section .tab-content .tab-pane.treeview{
  padding-top:1rem;
}

/* custom left-edge padding for Subjects Tab - since Places has Earth node that sets up an imbalance */
.view-section .tab-content .shanti-kmaps-faceted-search-kmaps-2.tab-pane.treeview{
  padding-left:.75rem
}




/*
.view-section .nav-tabs>li.listview{
  width: 38%;
}

.view-section .nav-tabs>li.treeview{
  width: 75%;
  max-width: 170px;
}

.view-section .nav-tabs>li.listview.active > a{
  background-color: #eee;
  font-size: 0.88em;
}

.view-section .nav-tabs>li{
  width:23%;
}

.view-section .nav-tabs>li.shanti-kmaps-faceted-search-kmaps-2{
  width:27%;
}
*/


.input-section .search-group {
  height:auto;
}

.input-section {
  padding: 1.3rem 2.5rem 0;
  height: 9.5rem;
}

.view-section .kmaps-tt-footer{
  border-bottom: 1px solid #ddd;
}

.view-section .kmaps-tt-footer{
  padding: 0.5rem 0;
}




