/**
 *     CSS for any node edit form on Shanti Images
 */
/**
 *   Styles for Image File Field
 */
.images.page-node-edit #search-flyout{
    display:none !important;
}

.images.page-node-edit .panel.panel-default .panel-heading h6 a{
    font-weight: 400;
    font-size: 1.06em;
 }

.field-name-field-image .fieldset-wrapper .fieldset-description {
    float: right;
    max-width: 400px;
    font-size: 1.25rem;
}

.field-name-field-image .fieldset-wrapper .form-item.form-type-managed-file label {
    display: none;
}

.field-name-field-image .fieldset-wrapper .form-item.form-type-managed-file .description {
    margin: 0.75em 0 0 0;
    padding: 0;
}

/*
 *  Table of Image Agents added to node
 */
#ief-entity-table-edit-field-image-agents-und-entities {
    width: 100%;
}

#ief-entity-table-edit-field-image-agents-und-entities th {
    min-width: 20%;
}

#ief-entity-table-edit-field-image-agents-und-entities th,
#ief-entity-table-edit-field-image-agents-und-entities td {
    padding: 2px;
}

/**
 *     Add new image agent form
 */
#edit-field-image-agents-und-form .form-item-field-image-agents-und-form-status {
    display: none;
}

#edit-field-image-agents-und-form .fieldset-wrapper {
    /*padding-left: 25px;*/
}

#field-copyright-date-add-more-wrapper .form-wrapper legend {
    border: none;
    font-weight: normal;
    font-size: 1em;
    font-family: 'museo-sans-500',helvetica,arial,sans-serif;
    text-transform: uppercase;
    margin-bottom: -12px !important;
    margin-left: 12px;
}

#edit-field-copyright-date-und-0-value {
    margin-left: -8px;
}

#edit-field-copyright-statement {
    margin-top: -24px;
}

.field-name-field-copyright-statement #field-copyright-statement-add-more-wrapper .form-item label,
#field-copyright-holder-add-more-wrapper .form-item label,
#field-rights-notes-add-more-wrapper .form-item label {
    color: #444;
}

#image-ajax-replace .image-placeholder-wrapper .image-placeholder {
    float: left;
    padding-right: 1.5rem;
}

#image-ajax-replace .image-placeholder-wrapper .image-iiif-info .label {
    color: #333;
}

#image-ajax-replace .image-placeholder-wrapper .image-iiif-info a.imgurl {
    font-weight: normal !important;
    font-size: 1.2rem;
}

/** KMaps in image node edit **/
/** Hide the remnants of the clear button in places facets as is unnecessary **/
.field-name-field-places .kmap-filter .kmfaceted-list-clear {
    display: none;
}

/** Hide field for keywords as this is not a kmaps field (not deleting because someone may have already entered data) **/
/** TODO: Check if data entered here. If so move it to note, and delete field **/
.page-node-edit.node-type-shanti-image .field-name-field-keywords {
    display: none;
}

/** Show Progress Bar in node form
.form-managed-file .image-widget-data div.ajax-progress-bar {
    display: block !important;
}
**/


/** Bootbox dialog confirmations **/
.bootbox.modal.bootbox-confirm .modal-body {
    color: #555;
}

.bootbox.modal.bootbox-confirm .btbx-confirm, .bootbox.modal.bootbox-confirm .btbx-cancel {
    box-shadow: none;
    color: #606060;
    letter-spacing: .05em;
    background: #fff;
    border: 1px solid #ddd;
}

.bootbox.modal.bootbox-confirm .btbx-confirm {
    margin-top: 0px;
}

.bootbox.modal.bootbox-confirm .btbx-confirm:hover {
    color: white;
    background: red;
}

.bootbox.modal.bootbox-confirm .btbx-cancel:hover {
    background: #888;
    box-shadow: none;
    border-color: #888;
    color: #fff;
    text-shadow: 0 0 1px #444;
}

button .glyphicon-refresh-animate {
    display: inline-block;
    margin-left: 8px;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
    font-size: 1rem;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}