/**
* Mandala KMAPS Places-Subjects - Development
*
* version 1.x - shanti-main-kmaps.css
* -------------------------------------------------
* University of Virginia / SHANTI MANDALA / KMAPS
* -------------------------------------------------
*
*/

/* BEGIN THEME COLORS - Places */
.page-places .titlearea,
.page-places .breadcrumb .icon,
.page-places .carousel-control,
.page-places .fixed-action-button a,
.page-places .bx-controls-direction a,
.page-places .nav-tabs.nav-justified>li.active>a,
.page-places .nav-tabs.nav-justified>li.active>a:focus,
.page-places .nav-tabs.nav-justified>li.active>a:hover {
  background: #3297f7 !important;
}

.page-places .front-list .place span.fa-plus,
.page-places .front-list .shanticon-places::before,
.page-places .view-section .fancytree-container .glyphicon,
.page-places .view-section .fancytree-container .fancytree-node:hover > .glyphicon,
.page-places .view-section .fancytree-container .fancytree-node:active > .glyphicon,
.page-places .view-section .fancytree-node.fancytree-active > .glyphicon,
.page-places .view-section .fancytree-node.fancytree-selected > .glyphicon,
.page-places .carousel-feature-slides li.active div a::before,
.page-places .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a .check-mark,
.page-places .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a:active .check-mark,
.page-places .kmaps-sources-summary ul.summary-list > li span.icon.shanticon-essays {
  color: #3297f7 !important;
}

.page-places .carousel-feature-slides li div a:hover,
.page-places .carousel-feature-slides li div a:active,
.page-places .carousel-feature-slides li.active div a,
.page-places #tab-main .each-photo a.thumbnail:hover,
.page-places #tab-main .each-text a.thumbnail:hover {
  border-color: #3297f7 !important;
}

.page-places .input-section .toggle-link,
.page-places .input-section .toggle-link:hover,
.page-places .input-section .toggle-link .icon::before,
.page-places .input-section .toggle-link:hover .icon::before,
.page-places .input-section .selectpicker .caret::before,
.page-places .view-section .nav-tabs>li.active>a,
.page-places .view-section .nav-tabs>li.active>a:hover,
.page-places .view-section .nav-tabs>li.active>a:active {
  color: #3297f7 !important;
}

.page-places .kmaps-tt-menu .kmaps-tt-suggestion:hover::before,
.page-places .kmaps-tt-menu .kmaps-tt-suggestion.kmaps-tt-cursor::before,
.page-places .carousel-indicators li:hover, 
.page-places .carousel-indicators li.active,
.page-places .kmaps-tt-menu .kmaps-tt-suggestion:hover::before{
    border-color: #3297f7 !important; /* set subtheme color */
    background: #3297f7 !important;
}

.page-places #sidebar-first .nav-pills li.active {
  border-color: #3297f7 !important; /* darker shade */
}

.page-places .view-section .nav-tabs>li.active>a,
.page-places .nav-tabs.nav-justified>li.active{
  /*border-top-color: #4ca6fb !important;*/
  border-top-color: #3297f7 !important;
}


@media screen and (min-width: 500px) {
  .page-places .navbar-header .site-slogan{ color:#3676b2 !important; } /* darker shade */
  .page-places .navbar-brand:hover .site-slogan{ color: #555 !important; } 
  .page-places .navbar-header:active .site-slogan{ color:#3676b2 !important; } 
}

@media screen and (min-width: 768px) {
  .nav-tabs.nav-justified>li.active::before{color: #3297f7 !important; }
}

.page-places ::-moz-selection {background: #B35904 !important;}
.page-places ::selection{background: #B35904 !important;}




/* BEGIN THEME COLORS - Subjects */
.page-subjects .titlearea,
.page-subjects .carousel-control,
.page-subjects .breadcrumb .icon,
.page-subjects .carousel-control,
.page-subjects .fixed-action-button a,
.page-subjects .bx-controls-direction a,
.page-subjects .nav-tabs.nav-justified>li.active>a,
.page-subjects .nav-tabs.nav-justified>li.active>a:focus,
.page-subjects .nav-tabs.nav-justified>li.active>a:hover {
  background: #cc4c39 !important;
}

.page-subjects .front-list .shanticon-places::before,
.page-subjects .front-list .place span.fa-plus,
.page-subjects .view-section .fancytree-container .glyphicon,
.page-subjects .view-section .fancytree-container .fancytree-node:hover > .glyphicon,
.page-subjects .view-section .fancytree-container .fancytree-node:active > .glyphicon,
.page-subjects .view-section .fancytree-node.fancytree-active > .glyphicon,
.page-subjects .view-section .fancytree-node.fancytree-selected > .glyphicon,
.page-subjects .carousel-feature-slides li.active div a::before,
.page-subjects .input-section .selectpicker .caret::before,
.page-subjects .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a .check-mark,
.page-subjects .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a:active .check-mark,
.page-subjects .kmaps-sources-summary ul.summary-list > li span.icon.shanticon-essays {
  color: #cc4c39 !important;
}

.page-subjects .carousel-feature-slides li div a:hover,
.page-subjects .carousel-feature-slides li div a:active,
.page-subjects .carousel-feature-slides li.active div a,
.page-subjects #tab-main .each-image a.thumbnail:hover,
.page-subjects #tab-main .each-text a.thumbnail:hover {
  border-color: #cc4c39 !important;
}

.page-subjects .kmaps-tt-menu .kmaps-tt-suggestion:hover::before,
.page-subjects .kmaps-tt-menu .kmaps-tt-suggestion.kmaps-tt-cursor::before,
.page-subjects .carousel-indicators li:hover, 
.page-subjects .carousel-indicators li.active,
.page-subjects .kmaps-tt-menu .kmaps-tt-suggestion:hover::before{
    border-color: #cc4c39 !important; /* set subtheme color */
    background: #cc4c39 !important;
}

.page-subjects #sidebar-first .nav-pills li.active {
  border-color: #b24232 !important; /* Darker shade of red for shadow blend */
}

.page-subjects .view-section .nav-tabs>li.active>a,
.page-subjects .nav-tabs.nav-justified>li.active{
  border-top-color: #cc4c39 !important;
}

.page-subjects .texts-list li:hover::before{
  /*background: #cc4c39 !important;*/
}

@media screen and (min-width: 500px) {
  .page-subjects .navbar-header .site-slogan{ color:#b24231 !important; } /* Darker shade for banner site-slogan text */
  .page-subjects .navbar-brand:hover .site-slogan{ color: #555 !important; } 
  .page-subjects .navbar-header:active .site-slogan{ color:#b24231 !important; } 
}

@media screen and (min-width: 768px) {

  .page-subjects .nav-tabs.nav-justified>li.active::before{
    color: #cc4c39 !important;
  }
}

.page-subjects ::-moz-selection { background: #2A974B !important;}
.page-subjects ::selection { background: #2A974B !important;}

.shanti-thumbnail-image .icon{
  background-color: #8e752e !important;
}










.sidebar-first .ajax-progress,
.sidebar-first .ajax-progress .throbber{
  display:inline-block !important;
}

/** Quick fix for visual teasers in kmaps  (ndg8f) */
.kmaps-visuals-grid li.shanti-thumbnail.visual .shanti-field-agent a, 
.kmaps-visuals-grid li.shanti-thumbnail.visual .shanti-field-created, 
.kmaps-visuals-grid li.shanti-thumbnail.visual .shanti-field-type * {
    font-size: 1.25rem !important;
}

/** Change color for individual assets node pages */
.page-visuals .titlearea,
.page-visuals .breadcrumb .icon,
.page-visuals .fixed-action-button a,
.page-visuals .bx-controls-direction a,
.page-visuals .nav-tabs.nav-justified>li.active>a,
.page-visuals .nav-tabs.nav-justified>li.active>a:focus,
.page-visuals .nav-tabs.nav-justified>li.active>a:hover {
  background: #558e3c !important;
}

.page-audio-video .titlearea,
.page-audio-video .breadcrumb .icon,
.page-audio-video .fixed-action-button a,
.page-audio-video .bx-controls-direction a,
.page-audio-video .nav-tabs.nav-justified>li.active>a,
.page-audio-video .nav-tabs.nav-justified>li.active>a:focus,
.page-audio-video .nav-tabs.nav-justified>li.active>a:hover {
  background: #31acb6 !important;
}

.page-sources .titlearea,
.page-sources .breadcrumb .icon,
.page-sources .fixed-action-button a,
.page-sources .bx-controls-direction a,
.page-sources .nav-tabs.nav-justified>li.active>a,
.page-sources .nav-tabs.nav-justified>li.active>a:focus,
.page-sources .nav-tabs.nav-justified>li.active>a:hover {
  background: #6f69ae !important;
}

.page-texts .titlearea,
.page-texts .breadcrumb .icon,
.page-texts .fixed-action-button a,
.page-texts .bx-controls-direction a,
.page-texts .nav-tabs.nav-justified>li.active>a,
.page-texts .nav-tabs.nav-justified>li.active>a:focus,
.page-texts .nav-tabs.nav-justified>li.active>a:hover {
  background: #8c48a1 !important;
}

.page-images .titlearea,
.page-images .breadcrumb .icon,
.page-images .fixed-action-button a,
.page-images .bx-controls-direction a,
.page-images .nav-tabs.nav-justified>li.active>a,
.page-images .nav-tabs.nav-justified>li.active>a:focus,
.page-images .nav-tabs.nav-justified>li.active>a:hover {
  background: #b5953b !important;
}


/* Image block View Styles */
.view-related-images .views-exposed-form .form-item label {
  display: none;
}


/* fixes whole page layout in Drupal admin theme called Seven */
.page-admin #page{
  margin:0 !important;
}

@media screen and (min-width: 500px) {
  .kmaps-photos .main-wrapper {
    min-height: 710px;
  }
}





.kmaps:not(.home-carousel) article.main-col{
  padding-bottom:80px !important;
}














/**
* -- the class kb excluded on these rules is just to add importance and hopefully 
* -- overrulw the Bhutan rules that may try to override due to bhutan's theme files being loaded after Mandala 
*/



body.bhutan  .wrap-all #sidebar-first .nav-pills li.places.active,
body.bhutan.page-places .wrap-all #sidebar-first .nav-pills li.overview.active {
  border-color: #3297f7 !important; 
}
body.bhutan .wrap-all #sidebar-first .nav-pills li.subjects.active,
body.bhutan.page-subjects .wrap-all #sidebar-first .nav-pills li.overview.active {
  border-color: #cc4c39 !important; 
}
body.bhutan .wrap-all #sidebar-first .nav-pills li.photos.active {
  border-color: #b5953b !important; 
}
body.bhutan .wrap-all #sidebar-first .nav-pills li.essays.active {
  border-color: #8c48a1 !important; 
}
body.bhutan .wrap-all #sidebar-first .nav-pills li.audio-video.active {
  border-color: #31acb6 !important; 
}
body.bhutan .wrap-all #sidebar-first .nav-pills li.sources.active {
  border-color: #8c48a1 !important; 
 }



body.bhutan.page-places .wrap-all .titlearea,
body.bhutan.page-places .wrap-all .fixed-action-button a,
body.bhutan.page-places.kmaps-overview .wrap-all .fixed-action-button a,
body.bhutan.page-places.kmaps-overview .wrap-all .titlearea{
  background-color:#3297f7 !important;
 }

body.bhutan.page-subjects .wrap-all .titlearea,
body.bhutan.page-subjects .wrap-all .fixed-action-button a,
body.bhutan.page-subjects.kmaps-overview .wrap-all .fixed-action-button a,
body.bhutan.page-subjects.kmaps-overview .wrap-all .titlearea{
  background-color:#cc4c39 !important;
 }

body.bhutan.page-places.kmaps-overview .wrap-all .fixed-action-button a,
body.bhutan.kmaps-places .wrap-all .titlearea{
  background-color:#3297f7 !important;
}

body.bhutan.page-subjects.kmaps-overview .wrap-all .fixed-action-button a,
body.bhutan.kmaps-subjects .wrap-all .titlearea{
  background-color:#cc4c39 !important;
}
body.bhutan.page-photos.kmaps-overview .wrap-all .fixed-action-button a,
body.bhutan.page-images.kmaps-overview .wrap-all .fixed-action-button a,
body.bhutan.kmaps-photos .wrap-all .titlearea,
body.bhutan.kmaps-images .wrap-all .titlearea{
  background-color:#b5953b !important;
}
body.bhutan.page-texts.kmaps-overview .wrap-all .fixed-action-button a,
body.bhutan.kmaps-texts .wrap-all .titlearea{
  background-color:#8c48a1 !important;
}
body.bhutan.page-sources.kmaps-overview .wrap-all .fixed-action-button a,
body.bhutan.kmaps-sources .wrap-all .titlearea{
  background-color:#6f69ae !important;
}
body.bhutan.page-visuals.kmaps-overview .wrap-all .fixed-action-button a,
body.bhutan.kmaps-visuals .wrap-all .titlearea{
  background-color:#558e3c !important;
 }



body.bhutan .wrap-all main .view-section .nav-tabs>li.active>a, 
body.bhutan .wrap-all main .view-section .nav-tabs>li.active>a:hover, 
body.bhutan .wrap-all main .view-section .nav-tabs>li.active>a:active{
  border-top-color: #4d59ca !important;
}




/* footer - use of class .abc is purely as selector overrie in this case to be sure Bhutan site receives the styles */
body.bhutan:not(.abc) .footer, 
body.bhutan:not(.abc) .footer .sponsors, 
body.bhutan:not(.abc) .footer .general, 
body.bhutan:not(.abc) .footer .sponsors .views-row{
  float:none;
}
body.bhutan:not(.abc) .footer{
  min-height: 90px;
  padding-top: 5px;
}

body.bhutan:not(.abc) .footer .general > p{
  color: #707070;
  font-size: 70%;
  bottom: -1.7rem;
}

body.bhutan:not(.abc) .footer .sponsors p.tagline{
  color: #aaa;
  position: relative;
  left: 0;
  margin: 0 auto 1rem;
  font-size: 0.62em;
  font-family: 'museo-sans-500', helvetica, arial, sans-serif;
}

body.bhutan:not(.abc) .footer .view-sponsor-logos{
  position: relative;
  top: -1.5rem;
}

body.bhutan:not(.abc) .footer .views-field img.img-responsive{
  margin: 1.6rem 3rem 0 0;
}

body.bhutan:not(.abc) .footer .views-row-1 .views-field img.img-responsive{
  height: 20px;
  opacity: 0.6;
}

body.bhutan:not(.abc) .footer .views-row-2 .views-field img.img-responsive{
  height: 30px;
  margin-top: 0.7rem;
  margin-right: 2.5rem;
}

body.bhutan:not(.abc) .footer .views-row-3 .views-field img.img-responsive{
  height: 22px;
  margin-top: 1.4rem;
  margin-right: 0;
  opacity: 0.65;
}





















/**
*
* END - KMAPS/css/shanti-main-kmaps.css
*
*/
