/**
* Mandala KMAPS Places-Subjects - Development
*
* version 1.x - shanti-search-kmaps.css
* -------------------------------------------------
* University of Virginia / SHANTI MANDALA / KMAPS
* -------------------------------------------------
*
*/
.page-places .view-section .fancytree-container .glyphicon,
.page-places .view-section .fancytree-container .fancytree-node:hover > .glyphicon,
.page-places .view-section .fancytree-container .fancytree-node:active > .glyphicon,
.page-places .view-section .fancytree-node.fancytree-active > .glyphicon,
.page-places .view-section .fancytree-node.fancytree-selected > .glyphicon,
.page-places .view-section .nav-tabs>li.active>a,
.page-places .view-section .nav-tabs>li.active>a:hover,
.page-places .view-section .nav-tabs>li.active>a:active{
  color: #3297f7 !important;
}


.page-subjects .view-section .fancytree-container .glyphicon,
.page-subjects .view-section .fancytree-container .fancytree-node:hover > .glyphicon,
.page-subjects .view-section .fancytree-container .fancytree-node:active > .glyphicon,
.page-subjects .view-section .fancytree-node.fancytree-active > .glyphicon,
.page-subjects .view-section .fancytree-node.fancytree-selected > .glyphicon,
.page-subjects .view-section .nav-tabs>li.active>a,
.page-subjects .view-section .nav-tabs>li.active>a:hover,
.page-subjects .view-section .nav-tabs>li.active>a:active{
  color: #cc4c39 !important;
}

.page-places .view-section .nav-tabs>li.active>a{
  /*border-top-color: #4ca6fb !important;*/
  border-top-color: #3297f7 !important;
}


.kmaps .extruder .shanticon-magnify {
    position: absolute;
    left: 1rem;
    top: 1.8em;
}