/**
* Mandala KMAPS Places-Subjects - Development
*
* version 1.x - shanti-search-kmaps.css
* -------------------------------------------------
* University of Virginia / SHANTI MANDALA / KMAPS
* -------------------------------------------------
*
*/
.page-places .view-section .fancytree-container .glyphicon,
.page-places .view-section .fancytree-container .fancytree-node:hover > .glyphicon,
.page-places .view-section .fancytree-container .fancytree-node:active > .glyphicon,
.page-places .view-section .fancytree-node.fancytree-active > .glyphicon,
.page-places .view-section .fancytree-node.fancytree-selected > .glyphicon,
.page-places .view-section .nav-tabs>li.active>a,
.page-places .view-section .nav-tabs>li.active>a:hover,
.page-places .view-section .nav-tabs>li.active>a:active{
  color: #3297f7 !important;
}


.page-subjects .view-section .fancytree-container .glyphicon,
.page-subjects .view-section .fancytree-container .fancytree-node:hover > .glyphicon,
.page-subjects .view-section .fancytree-container .fancytree-node:active > .glyphicon,
.page-subjects .view-section .fancytree-node.fancytree-active > .glyphicon,
.page-subjects .view-section .fancytree-node.fancytree-selected > .glyphicon,
.page-subjects .view-section .nav-tabs>li.active>a,
.page-subjects .view-section .nav-tabs>li.active>a:hover,
.page-subjects .view-section .nav-tabs>li.active>a:active{
  color: #cc4c39 !important;
}

.page-places .view-section .nav-tabs>li.active>a{
  /*border-top-color: #4ca6fb !important;*/
  border-top-color: #3297f7 !important;
}





/* ys2n - problematic solution to the kmfacets vs kmfaceted problem */
/* dark background for labels display in search flyout */
.extruder .view-section .active-kmfaceted-list{
  border: none;
  border-radius: 0.2rem;
  padding: .8rem 2rem .7rem 1.3rem;
  background: #555;
  color: #fff !important;
  width:100%;
}

.extruder .view-section .active-kmfaceted-list .facet-item{
  margin: .1rem .2rem .5rem 0;
}

.extruder .view-section .active-kmfaceted-list .selected-kmap{
  text-shadow: 0 1px 2px #555;
  font-family: 'museo-sans-700', helvetica, arial, sans-serif;
  text-align:left;
  max-width: 95%;
  overflow:hidden;
  text-overflow: ellipsis;
  text-decoration:none;
  cursor:default;
}
.extruder .view-section .active-kmfaceted-list .selected-kmap,
.extruder .view-section .selected-kmap .shanticon-close2::before{
  color:#eee;
}
.extruder .view-section .active-kmfaceted-list .selected-kmap:hover,
.extruder .view-section .selected-kmap:hover .shanticon-close2::before{
  color:#fff;
}
.extruder .view-section .active-kmfaceted-list .selected-kmap .kmap-label:hover{
  
}
.extruder .view-section .active-kmfaceted-list .selected-kmap .kmap-label:active{
  text-decoration:none;
}

.extruder .view-section .kmfaceted-list-clear {
  position: absolute;
  right: 1.2rem;
  top: .3rem;
  border: 1px solid #888;
  display: block;
  width: 1.5rem;
  height: 1.8rem;
  background: transparent;
  background-image: none;
  box-shadow: none;
  border-radius: 0;
  background-clip: padding-box;
  padding: 0;
  margin: 0;
}

.extruder .view-section .kmfaceted-list-clear:hover,
.extruder .view-section .kmfaceted-list-clear:active{
  border:1px solid  #888;
}

.extruder .view-section .kmfaceted-list-clear .icon{
  font-size: 2.06em;
  /* border: 1px solid #fff; */
  /* border-width: 0 0 1px 1px; */
  /* box-shadow: -1px 1px 4px #666; */
  padding: 0;
  line-height: 1em;
  width: auto;
  border-radius: 0;
  color: #333;
  background-color: #fff;
}

.extruder .view-section .kmfaceted-list-clear:hover .icon{
  border-color:#aaa;
  color: #ccc;
  background-color: #111;
}

.extruder .view-section .kmfaceted-list-clear .icon::before{
  content:'\e610';
  position: relative;
  left: .1rem;
}





.extruder .btn-collapse-flyout{
  float:right;
  /* other related styles are in shanti-search.css */
} 


.btn-show-search-results{
  position: absolute;
  display: block;
  top: 5.1rem;
  height: 58px;
  width: 45px;
  padding: 0.5rem 0 0.5rem 0.5rem;
  background: #fff;
  background-clip: padding-box;
  box-shadow: -0.1rem .1rem 0.3rem .1rem rgba(0, 0, 0, 0.175);
  cursor: default;
  margin: 0 0 0 -4.2rem;
  border-radius: 1rem 0 0 1rem;
}

.btn-show-search-results > span{
  height: 100%;
  width: 100%;
  background: #111;
  border-radius: .8rem 0 0 .8rem;
  display: block;
  text-align: center;
  filter: alpha(opacity=85);
  opacity: .85;
}

.btn-show-search-results > span:hover{
  filter: alpha(opacity=100);
  opacity: 1;
}

.btn-show-search-results .badge {
  position: relative;
  bottom: 0.1rem;
  width: 2.75rem;
  background-color: #fff;
  color: #000;
  border-radius: 4px;
  font-size: .75em;
  letter-spacing: .0275rem;
  padding: 1px 2px;
  font-family: 'Helvetica Neue', helvetica, arial, sans-serif;
}

.btn-show-search-results .icon::before{
  position: relative;
  top: .45rem;
  left: .125rem;
  font-size: 1.62em;
  color: #fff;
  /*filter: alpha(opacity=82);
  opacity: .82;*/
}

.btn-show-search-results .icon:hover::before{
  /*filter: alpha(opacity=100);
  opacity: 1;*/
}




