/**
* Mandala Bhutan - Development
* 
* version 1.x - bhutan-main.css
* --------------------------------------------------
* University of Virginia / SHANTI MANDALA / BHUTAN
* --------------------------------------------------
* 
*/

article ul,
article ul ul,
article ul ul ul,
article ul ul ul ul { -webkit-margin-before: 0; margin-top:0;}
/** To prevent images from spilling out over popup **/
/* .modal img { max-width: 550px; } */

.navbar-header{ padding-left:1rem;}
.navbar-header .navbar-brand{ line-height: 2.25em;}
.site-logo{ width:500px; height:40px; position:relative; top:0rem;}
.site-title{ display:none !important;}
/*-- #search-flyout.extruder.right.isOpened .extruder-content{ border-right-width:13px;} --*/

/** PAGE: Sponsors **/
.page-sponsors .main-wrapper{ min-height:53em;}
.page-sponsors .view-resources.btn-default{ display:none;}
.sponsor-list .views-row{ margin:16px; clear:both;}
.sponsor-list .views-row h2{ margin-bottom: 6px;}
.sponsor-list .views-row img{ background-color:#325a6b;padding: 8px 18px;border:3px double #eee;border-radius:0;float:right;margin-left:15px;-webkit-transition:border 300ms ease-out;-moz-transition:border 300ms ease-out;-o-transition:border 300ms ease-out;transition:border 300ms ease-out;}
.sponsor-list .views-row{ max-width:950px;}
.sponsor-list .views-row-1 img{ padding:18px;max-width: 190px;}
.sponsor-list .views-row-2 img{ padding:5px 18px 8px;max-width:200px;}
.sponsor-list .views-row-3 img{ padding:15px 18px; width: 270px;}
.sponsor-list .views-row img:hover{ border:3px solid #eee;border-radius:4px;}
.sponsor-list .views-row img:active{ border:3px double #eee; border-radius:0;}

.sponsor-list .views-row .summary{ padding: 0px 16px 16px 0px;}
.sponsor-list .views-row .website{ display: block;clear: both;}
.sponsor-list .views-row .website .label{ font-size: 0.9em;color: #555;padding-left:0;}



#sidebar-first .nav-pills li.places.active,
.page-places #sidebar-first .nav-pills li.overview.active {
  border-color: #3297f7 !important; 
}
#sidebar-first .nav-pills li.subjects.active,
.page-subjects #sidebar-first .nav-pills li.overview.active {
  border-color: #cc4c39 !important; 
}
#sidebar-first .nav-pills li.photos.active { /* images */
  border-color: #b5953b !important; 
}
#sidebar-first .nav-pills li.essays.active { /* texts */
  border-color: #8c48a1 !important; 
}
#sidebar-first .nav-pills li.audio-video.active {
  border-color: #31acb6 !important; 
}
#sidebar-first .nav-pills li.sources.active {
  border-color: #8c48a1 !important; 
 }



.page-places .breadcrumb .icon,
.page-places .fixed-action-button a,
.page-places .fixed-action-button a{
  background-color:#3297f7 !important;
 }

.page-subjects .breadcrumb .icon,
.page-subjects .fixed-action-button a,
.page-subjects .fixed-action-button a{
  background-color:#cc4c39 !important;
 }


.page-places .breadcrumb .icon,
.page-places.kmaps-overview .breadcrumb .icon,
.page-subjects.kmaps-places .breadcrumb .icon,
.page-places .titlearea,
.kmaps-places .titlearea,
.page-places.kmaps-overview .titlearea,
.page-subjects.kmaps-places .titlearea,
.page-places .fixed-action-button a{
  background-color:#3297f7 !important;
}

.page-subjects .breadcrumb .icon,
.page-subjects.kmaps-overview .breadcrumb .icon,
.page-places.kmaps-subjects .breadcrumb .icon,
.page-subjects .titlearea,
.kmaps-subjects .titlearea,
.page-subjects.kmaps-overview .titlearea,
.page-places.kmaps-subjects .titlearea,
.page-subjects .fixed-action-button a{
  background-color:#cc4c39 !important;
}

.page-places.kmaps-photos .breadcrumb .icon,
.page-subjects.kmaps-photos .breadcrumb .icon,
.page-places.kmaps-images .breadcrumb .icon,
.page-subjects.kmaps-images .breadcrumb .icon,
.page-places.kmaps-photos .titlearea,
.page-subjects.kmaps-photos .titlearea,
.page-places.kmaps-images .titlearea,
.page-subjects.kmaps-images .titlearea{
  background-color:#b5953b !important;
}

.page-places.kmaps-texts .breadcrumb .icon,
.page-subjects.kmaps-texts .breadcrumb .icon,
.page-places.kmaps-texts .titlearea,
.page-subjects.kmaps-texts .titlearea{
  background-color:#8c48a1 !important;
}

.page-places.kmaps-audio-video .breadcrumb .icon,
.page-subjects.kmaps-audio-video .breadcrumb .icon,
.page-places.kmaps-audio-video .titlearea,
.page-subjects.kmaps-audio-video .titlearea{
  background-color:#31acb6 !important;
}

.page-places.kmaps-sources .breadcrumb .icon,
.page-subjects.kmaps-sources .breadcrumb .icon,
.page-places.kmaps-sources .titlearea,
.page-subjects.kmaps-sources .titlearea{
  background-color:#6f69ae !important;
}

.page-places.kmaps-visuals .breadcrumb .icon,
.page-subjects.kmaps-visuals .breadcrumb .icon,
.page-places.kmaps-visuals .titlearea,
.page-subjects.kmaps-visuals .titlearea{
  background-color:#558e3c !important;
}

.page-places .kmaps-sources-summary .shanticon-texts,
.page-subjects .kmaps-sources-summary .shanticon-texts{
  color:#8c48a1 !important;
}

.page-places .kmaps-sources-summary .shanticon-sources,
.page-subjects .kmaps-sources-summary .shanticon-sources{
  color:#6f69ae !important;
}






/* temp for testing - it is in Mandala */
.sidebar-first .nav-pills > li .ajax-progress {
  position: absolute;
  right: 0.1rem;
  top: 0.1rem;
}



/* footer - use of class .abc is purely as selector overrie in this case to be sure Bhutan site receives the styles */
.footer{
  height: 80px;
  padding-top: 5px;
  border-bottom: 2rem solid #000 !important;
}

.footer .sponsors p.tagline{
  color: #aaa;
  position: relative;
  left: 0;
  margin: 0 auto 1rem;
  font-size: 0.62em;
  font-family: 'museo-sans-500', helvetica, arial, sans-serif;
}
  .footer .sponsors p.tagline::first-letter{ font-size:117%;}

.footer .view-sponsor-logos{
  position: relative;
  top: -1.5rem;
  left: -19rem;
  margin-left: 50%; 
  width: 100%;
}

.footer .views-field img.img-responsive{
  margin: 1.6rem 3rem 0 0;
  width: auto;
  float: left;
}

.footer .views-row-1 .views-field img.img-responsive{ /*------ arcadia */ 
  height: 20px;
  opacity: 0.7;
}

.footer .views-row-2 .views-field img.img-responsive{ /*----- shejun */
  height: 30px;
  margin-top: 0.7rem;
  margin-right: 2.5rem;
  opacity: 0.8;
}

.footer .views-row-3 .views-field img.img-responsive{ /*------ tibet center */
  height: 22px;
  margin-top: 1.4rem;
  margin-right: 0;
  opacity: 0.85;
}


.footer .general > p{
  color: #707070;
  font-size: 70%;
  position: absolute;
  left: 50%;
  bottom: -2.5rem;
  margin-left: -4.5rem;
  white-space: nowrap;
}
/*----- hide drupal */ 
.footer .general .content > span{ display:none;}



.kmaps-list-columns .collapsibleList h6 .glyphicon{
  display:none;
}



@media screen and (max-width: 993px) {	/* this breakpoint from kmaps */
	
	.view-resources.btn-default{ display:inline-block !important;}
	.page-sponsors .view-resources.btn-default{ display:none !important;}
}

@media screen and (min-width: 650px) {
	/**.footer{ padding-bottom:10px;}
	.footer .view-sponsor-logos{ left:50%;margin-left:-255px;}**/
}



/* MINIMUM WIDTH */

@media screen and (min-width: 400px) {

}

@media screen and (min-width: 500px) {
    
  .navbar-header .site-slogan {
    display: inline-block;
  }
}

@media screen and (min-width: 600px) {

  .navbar-default h1 .icon {
    line-height: 1.68em;
    padding-left: 12px;
    position: relative;
    top: 0.5rem;
  }

  .navbar-header .site-slogan {
    font-size: 100%;
    position: relative;
    top: 0.025rem;
    /* text-shadow: 0.05rem 0.05rem #fff; */
  }

  .navbar-header .site-slogan:hover,
  .navbar-header .site-slogan:active {
    /*text-shadow: 0.05rem 0.05rem #555;*/
    text-shadow:none;
  }
}


@media screen and (min-width: 768px) {
   
  html body.admin-menu {
    margin-top: 3rem !important;
  } /* adjust height of admin bar */
  
  .navbar-default .menu-explore {
    display: none;
  }

  .menu-toggle {
    display: inline-block;
  }
}

@media screen and (min-width: 850px) {

}

@media screen and (min-width: 992px) {
  
  .titlearea.has-tabs-secondary ul.tabs.secondary,
  .titlearea.has-tabs-secondary .row-offcanvas > section.content-section .tab-content:nth-of-type(1) {
    margin-top: 0;
  }
}

@media screen and (min-width: 1280px) {
}

@media all and (orientation:portrait) {
}

@media all and (orientation:landscape) {
}










.node-type-shanti-image.in-frame #fsslider,
.node-type-shanti-image.in-frame .image-display,
.node-type-shanti-image.in-frame .wrap-all .main-wrapper{
  background:#eee !important;
  background-color:#eee !important;
}

.node-type-shanti-image.in-frame .image-detail-extended{
  box-shadow: none !important;
}

.node-type-shanti-image.in-frame .image-display{
  border-top: none !important;
  margin-top: -2.5rem !important;
}

.node-type-shanti-image.in-frame #fscarousel{
  background: #ddd !important;
  border-top: 1px solid #ccc !important;
}

.node-type-shanti-image.in-frame #fsslider .pswp-link .progressive{
  border:none !important;
}

.node-type-shanti-image.in-frame .image-detail-wrapper .image-title h2{
  color:#000 !important;
}

.node-type-shanti-image.in-frame .image-detail-wrapper .image-title h2::before{
  color:#555 !important;
}

.node-type-shanti-image.in-frame #fscarousel .flex-direction-nav a.flex-prev{
  position: absolute !important;
  left: 1rem !important;
}

.node-type-shanti-image.in-frame #fscarousel .flex-direction-nav a.flex-next{
  position: absolute !important;
  right: 1rem !important;
}

.node-type-shanti-image.in-frame #fscarousel .flex-direction-nav a{
  background: #444 !important;
}

.node-type-shanti-image.in-frame .flexslider .slides img{
  border:2px solid #fff !important;
}




/* remove Collections link ui since Collections are not supported in Kmaps / Bhutan */
.shanti-thumbnail .footer-wrap a,
.shanti-thumbnail .footer-wrap a:hover{
  cursor:default;
  text-decoration:none;
}


.page-places.kmaps-subjects .kmaps-list-columns h6{
  background: #cc4c39;
}



.kmaps-photos .content-section.col-xs-12 article > h4{
  display:none !important;
}







/*
.in-frame.audio-video .nav-tabs.nav-justified>li.active>a{
  border-top-color: #31acb6 !important;
  background-color: #31acb6 !important;
}
*/





@media screen and (max-width: 991px) {
/*
  .in-frame.texts .nav-tabs.nav-justified>li.active>a{
    background-color: #8c48a1 !important;
  }
  .in-frame.texts .nav-tabs.nav-justified>li.active>a:focus,
  .in-frame.texts .nav-tabs.nav-justified>li.active>a:hover{
    background: #8c48a1 !important;
  }

  .in-frame.texts .nav-tabs.nav-justified>li.active{
    border-top: 5px double #8c48a1 !important;
  }
  .in-frame.texts .nav-tabs.nav-justified>li.active::before{
    color: #8c48a1 !important;
  }
*/
}





/*
.in-frame.audio-video .titlearea, 
.in-frame.audio-video .titlearea.has-tabs, 
.in-frame.audio-video .titlearea > div, 
.in-frame.audio-video .titlearea header{
  height: 2em !important;
}

.in-frame.audio-video .page-title{
  color:#555;
  text-shadow: none !important;
  padding-left: 3rem;
}

.in-frame.audio-video .titlearea .page-title-text {
  display:block !important;
}
*/
