

.view-section .nav-tabs>li.active>a, 
.view-section .nav-tabs>li.active>a:hover, 
.view-section .nav-tabs>li.active>a:active{
  border-top-color: #4d59ca !important;
}

/** Hide search box in content area intro on home page **/
.intro-search { display:none;}
.intro-summary { width:100% !important;}


/*--- Temporary hide advance search */
.advanced-view .form-group:first-child{ border-top:none;}
.input-section .alert{ position:relative; top:7px;}

/* hiding inner workings */
.search-group > .form-group label:nth-of-type(-n+2),
.form-group.advanced-input.feature-group.dropdown,
.form-group.advanced-input.select-type{
  display: none !important;
  border-top: none !important;
}

