/* FOOTNOTES */

.shanti-texts-section-content a[id*="ref"],
.shanti-texts-section-content a[id*="edn"],
.shanti-texts-section-content a[id*="ftn"],
.shanti-texts-section-content a.fntref,
.shanti-texts-section-content a.ednref {
  color:cornflowerblue;
  vertical-align: super;
  font-size: 0.7em;
}

ul.footnotes {
  padding-left: .5em!important;
  padding-top: 1em;
}

li.footnote {
  margin-left: .5em!important;
}

#reader .footnotes {
  margin: 0px;
}

#reader .footnote {
  font-size: 12pt;
  padding-top: .25em;
  padding-bottom: .25em;
  padding-left: .25em;
  border-radius: 5px;
}

#reader .see-footnote:target {
  background-color: rgba(100,100,100,.1);
  border: none;
}

#reader .footnotes .footnote:target {
  background-color: #FFFCD3;
  box-shadow: 2px 2px 5px gray;
}

.shanti-endnotes hr {
  display: none;
}

.shanti-endnotes #edn1 {
  margin-top: -45px;
}

.shanti-endnotes div[id*=edn] {
  margin-top: -15px;
}