/**
* Mandala Texts - Development
*
* version 1.x - shanti-main-texts.css
* -------------------------------------------------
* University of Virginia / SHANTI MANDALA / TEXTS
* -------------------------------------------------
*
*/

/* BEGIN theme colors */
.titlearea,
.carousel-control,
.breadwrap .icon,
.carousel-indicators li:hover,
.carousel-indicators li.active,
.ui-resizable-handle.ui-resizable-nw.active,
.ui-resizable-handle.ui-resizable-nw:active {
  background: #8c48a1 !important;
}

.shanticon-twitter,.shanticon-facebook,.shanticon-email,.shanticon-google,
.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a .check-mark {
  color: #8c48a1 !important;
}

.carousel-indicators li:hover,
.carousel-indicators li.active{ border-color: #8c48a1; }

@media screen and (max-width: 768px) {
    
    .nav-tabs.nav-justified>li.active::before{
      display:none !important;
    }
}

@media screen and (max-width: 991px) {
  .nav-tabs.nav-justified>li.active>a{
    background: #8c48a1 !important;   
  }
  .nav-tabs.nav-justified>li.active>a:focus,
  .nav-tabs.nav-justified>li.active>a:hover{
    background: #8c48a1 !important;
  }

  .nav-tabs.nav-justified>li.active{
    border-top: 5px double #8c48a1 !important;
  }

  .nav-tabs.nav-justified>li.active::before{
    color: #8c48a1 !important;
  }
}

@media screen and (min-width: 500px) {
  .navbar-header .site-slogan{ color:#8c48a1 !important; } 
  .navbar-brand:hover .site-slogan{ color: #555 !important; } 
  .navbar-header:active .site-slogan{ color:#8c48a1 !important; } 
}

@media screen and (min-width: 992px) {
  .nav-tabs.nav-justified>li.active::before{
    display:none !important;
  }
}

::-moz-selection { background: #E6F066 !important; color: #333 !important;}
::selection { background: #E6F066 !important; color: #333 !important;}
/* END theme colors */


/* temp fix for sidebar menu of text reader */
.popover-link .icon{
    font-size: 0.8rem;
    position: relative;
    bottom: 0.04rem;
}


.carousel{
    box-shadow: 0 0 8px #ccc;
    border: 1px solid #ccc;
}

.carousel-title .shanticon-stack:before{
  content: '\e636' !important;
  position: relative;
  top: .4rem;
  color:#8c48a1;
  opacity:.8;
}


.nav-tabs.nav-justified>li{
  font-size: 1em;
}

.collections-content.col-xs-12.col-md-9{
  padding-left:0;
  padding-right:0;
}

body:not(.front) article.main-col{
  padding: 1.7rem 1.5rem 0;
}
.node-type-book article.main-col{
  max-width: 1400px !important;
}
.page-mycontent article.main-col,
.page-collections article.main-col,
.collection-page article.main-col{
  max-width: 1250px !important;
}
.node-type-collection article.main-col,
.node-type-subcollection article.main-col{
  max-width: 1600px !important;
}
.page-node-edit.no-sidebars .main-content article.main-col{
  max-width:1200px !important;
}



.shanti-text .content-section {
  padding-top: 0;
}

.node-type-book.shanti-text .tab-pane.main-col {
  max-width: 100% !important;
}

#autocomplete {
  background-color: #d3d3d3;
  padding: 2px;
  z-index: 500 !important;
  margin-top: 25px;
}

.front #block-system-main .front-overview p {
    padding: 0 2rem 0;
    line-height: 1.5em;
    font-size: .93em;
    font-style: italic;
}

.view-all-texts-control-box-row{ /* on collections page */
  margin-right:0;
}

.front .view-all-texts-control-box-row{ /* on collections page */
  margin-right: -15px;
}

/* VIEWS FILTER BAR */
.view-all-texts-control-box {
  border-top: 0;
  border-color: none;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
}

.view-all-texts-control-box .ajax-progress {
  display: none;
}

.view-all-texts-control-box-cell-header {
  padding: 0;
}

.view-all-texts-control-box-cell-header .view-result-count-info {
  font-size: 0.93em;
  margin: 1.32rem 0 0 2.5rem;
  text-transform: capitalize;
  white-space:nowrap;
}

.view-all-texts-control-box-cell-filters > form{
  margin-left: 0.8rem;
}

.view-all-texts-control-box-cell-filters .views-widget-filter-title{
  margin-right:1rem;
}

.view-all-texts-control-box-cell-pager {
  padding: 0;
  margin: 0;
}

.view-all-texts-control-box-cell-pager table.pagerer {
  margin: -2rem 3rem 0 0;
}




.texts.node-type-collection .view-all-texts-control-box-cell-header .view-result-count-info{
  margin-left:1.5rem;
}

.texts.node-type-collection .view-all-texts-control-box-cell-header.col-md-4{
  width:25%;
}

.texts.node-type-collection .view-all-texts-control-box-cell-filters.col-md-4{
  width:37%;
}

.texts.node-type-collection .view-all-texts-control-box-cell-pager{ float:right; }

.shanti-texts.node-type-collection .view-all-texts-control-box-cell-pager table.pagerer{
  margin-right:0;
  float:right;
}

/* BEGIN VIEW COLLECTIONS */

/* Exposed Widgets */
.views-exposed-widget label,
.views-exposed-widget div {
  margin: 0;
  vertical-align: middle;
}

.view-content {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.views-field{
  font-size: 0.88em;
}

.views-row {
  float: left;
  width: 98.8% !important;
  height: 108px;
  background: white;
  padding: 0.5rem 0.5rem 1.2rem;
  margin: 0 0 1.3rem 0.5rem;
  border: 1px solid #ccc;
  border-top: 3px solid #a066c0;
  box-shadow: 0 0 8px #ccc;
  position: relative;
  color:#111;
}


/* 
.view-text-collections .views-row,
.view-text-collections-by-users .views-row {
  height: 127px;
}

.view-text-collections .views-field-type{
      padding-bottom: .2rem !important;
}

.view-text-collections .views-field-type,
.view-text-collections-by-users .views-field-type {
  float: left;
  padding-top: 3px;
}

.view-text-collections .views-field-php,
.view-text-collections-by-users .views-field-php {
  padding-top: 3px;
}
.view-text-collections .views-field-body{
  padding-bottom:.7rem;
}
.view-text-collections .views-field-body,
.view-text-collections-by-users .views-field-body {
  clear: both;
}

.view-text-collections .views-field-field-og-parent-collection-ref {
  clear: both;
  position: absolute;
    bottom: .2rem;
}
 REPLACED THE ABOVE WITH THE FOLLOWING SINGLE SELECTOR */

/* this breaks the collection all page because .page-collection is a body style
.page-collections {
  height: 127px;
}
*/

.page-collections .views-row {
  height: 127px;
}

.page-collections .views-field-type{
      padding-bottom: .2rem !important;
}

.page-collections .views-field-type {
  float: left;
  padding-top: 3px;
}

.page-collections .views-field-php {
  padding-top: 3px;
}
.page-collections .views-field-body{
  padding-bottom:.7rem;
}
.page-collections .views-field-body {
  clear: both;
}

.page-collections .views-field-field-og-parent-collection-ref {
  clear: both;
  position: absolute;
  bottom: .2rem;
}



.views-row .views-field.empty::before{
  content:'';
  color:transparent;
}

.views-field-title h3 {
  font-size: 1.38em;
  font-weight: 500;
  line-height: 1.18em;
  margin: 0;
  width: 100%;
  padding: .2rem 0 0.1rem 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(0, 0, 139);
  filter: alpha(opacity=80);
  opacity:0.8;
  font-family: 'EB Garamond',serif;
}

.views-field-title h3:hover{
  filter: alpha(opacity=100);
  opacity: 1;
  color: #df3d26;
}

.views-field-title h3.bo{
  font-size:1.5em;
}

.views-field-title h3 .icon {
  color: #fff;
  font-size: 1.12em;
  position: absolute;
  right: 0;
  top: 0;
  width: 3.3rem;
  height: 3.1rem;
  background: #8856a3;
      text-align: center;
}

.views-row .views-field-title a:hover,
.views-row.views-row-hover .views-field-title a{
  border-bottom-color: transparent;
}

.views-field-title a .icon::before{
  position: relative;
    top: .45rem;
    left: .1rem;
}

.views-field-title h3 .icon.shanticon-stack::before{
  content:'\e633';
  font-family:'shanticon';
}

.views-field-field-general-featured-image img {
  display: none;
}

.views-field-field-book-author{
  position: relative;
  top: .5rem;
  padding-left: 1rem;
  color: #333;
  width: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

.views-field-field-book-author.bo{
  font-size: 1.38em;
}

.views-field-field-book-author::before{
  content: '\e600';
  font-family: 'shanticon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #764b8e;
  filter: alpha(opacity=90);
  opacity: .9;
  margin-right: .4rem;
  font-size: 1.24em;
  position: relative;
  top: 0.15rem;
  left: 0.15rem;
}

.views-field.views-field-nothing,
.views-field.views-field-title-1,
.views-field-field-og-collection-ref {
  padding-left: 1.15rem;
  font-size: .88em;
  font-weight: 400;
  font-style: italic;
}

.views-field.views-field-title{
  border-bottom: 1px solid #ccc;
  padding:0 0rem .25rem .9rem;
  margin:0 3.5rem 0 0;
}

.views-field.views-field-title-1 a::before,
.views-field-field-og-collection-ref a::before,
.views-field-field-og-parent-collection-ref a::before{
  content: "\e633";
  font-family: 'shanticon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #8856a3;
  margin-right: .5rem;
  font-size: 1.32em;
  position: relative;
  top: 0.3rem;
  left: -0.1rem;
}

.views-field-field-og-collection-ref a:hover{
  border:none;
}

.views-field.views-field-title-1  .field-content,
.views-field-field-og-collection-ref .field-content{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 95%;
  position: absolute;
  bottom: .7rem;
}

.views-field-field-dc-date-original-year,
.views-field-field-dc-date-publication-year {
  font-size: .88em;
  color: #333;
  margin: 0;
  position: absolute;
  top: 5.9rem;
  left: 1.6rem;
}

.views-field-field-dc-date-publication-year::before{
  content: '\e60c';
  font-family: 'shanticon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #764b8e;
  margin-right: .5rem;
  font-size: 1.12em;
  position: relative;
  top: 0.1rem;
  left: 0.07rem;
}



.views-field-field-dc-description {
  font-size: 12px;
  overflow: scroll;
  display: none;
}

/* hide filter input labels */
.views-widget-filter-title label,
.views-widget-filter-field_book_author_value label {
  display: none;
}

/* position filtering textboxes side-by-side without labels */
.views-widget-filter-title,
.views-widget-filter-field_book_author_value {
  display: inline-block;
  padding: 0;
}

.views-widget-filter-title div,
.views-widget-field_book_author_value div {
  margin: 0;
  width: 100%;
}

.views-widget-filter-title .form-control.form-text{
  max-width: 14rem;
}

.views-widget-filter-field_book_author_value .form-control.form-text{
  max-width: 15rem;
}

.view-all-texts-control-box-cell-filters .views-exposed-widgets {
  margin-top: 0.3rem;
  margin-bottom: 0;
  min-width:300px;
}

.views-exposed-widget.views-widget-filter-title,
.views-exposed-widget.views-widget-filter-field_book_author_value {
  padding: .5em 0 0 0;
}

.form-type-textfield.form-item-title {
  margin-right: 0.7rem;
}

.views-exposed-widget.views-widget-filter-title {
  margin-top: 0;
  width: 14rem;
}

.panels-flexible-region-3-left_bottom_region {
  width: 100%;
}


.texts .view-collections .views-field.views-field-created {
  font-style:italic;
}

.texts .view-collections-by-users .views-field.views-field-type {
  font-style: italic;
  margin: 0.5rem 0 0.25rem 0;
}

/* User Page Styles */


.page-user .profile .field-name-realname {
  margin-bottom: 8px;
}

.page-user .profile .field-name-realname .field-items {
  display: block;
  clear: both;
}

.page-user .profile h3 {
  width: 50%;
}

.page-user .profile dt, .page-user .profile dd {
  display: inline;
}

.page-user .profile dl > dt {
  color: #333;
  font-weight: normal;
  text-transform: uppercase;
}

.page-user .profile dl {
  margin: 0 0 8px 0;
  color: black;
}

.page-user .profile dt:after { content: ':'; }

.page-user .profile .field-name-og-user-node1 {
  margin-bottom: 8px;
}
.page-user .profile .field-name-og-user-node1 .field-item {
  margin-left: 24px;
}

.page-user .field-label {
  border-bottom: 1px solid #ccc;
  width: 50%;
  margin-top: 20px;
  margin-bottom: 5px;
  letter-spacing: 0.0175rem;
  font-weight: 400;
  color: #444;
  font-size: 1.32em;
  text-transform: capitalize;
}

/*-----------------*/
/* BEGIN max-width */
/*-----------------*/
@media screen and (max-width: 379px) {

  .view-all-texts-control-box-cell-pager table.pagerer{
    float: left;
    margin-top:1rem;
  }
}

@media (max-width: 599px) {

  .view-all-texts-control-box-cell-header,
  .view-all-texts-control-box-cell-filters,
  .view-all-texts-control-box-cell-pager{
    width:100%;
  }

  .view-all-texts-control-box-cell-pager table.pagerer {
    margin-left: 1.3rem;
    margin-top: -5.5rem;
    float:right;
  }
}

@media screen and (max-width: 768px) {

  .view-content .views-row:nth-child(even),
  .page-collections .view-content .views-row:nth-child(even){
    margin-right: 1rem;
  }
}


@media screen and (max-width: 992px) {

  .view-content .views-row:nth-child(even),
  .page-collections .view-content .views-row:nth-child(even){
    margin-right: 0rem;
  }

  .view-content .views-row:nth-child(odd),
  .page-collections .view-content .views-row:nth-child(odd){
    margin-right: 1rem;
  }
}





/*-----------------*/
/* BEGIN min-width */
/*-----------------*/
@media (min-width: 600px) {

  .view-all-texts-control-box-cell-header .view-result-count-info{
    font-size: .88em;
  }
}

@media (min-width: 768px) {

  .views-row {
    width: 48.8% !important;
    margin: 0 1rem 1.25rem 0;
  }

  .views-content .views-row:nth-child(odd){
    margin-right: 1rem;
  }

  .views-content .views-row:nth-child(even){
    margin-right: 0;
  }

}

@media (min-width: 992px) {

  .node-type-collection .view-all-texts .views-row,
  .node-type-subcollection .view-all-texts .views-row {
    width: 48.8% !important;
  }
  .node-type-collection .view-all-texts .views-row:nth-child(even),
  .node-type-subcollection .view-all-texts .views-row:nth-child(even) {
    margin-right:0;
  }

  .texts.page-node .collections-sidebar .item-list ul .views-row:nth-child(even){
    margin-right: 0;
  }

  .view-all-texts-control-box-cell-filters .views-exposed-widgets {
    margin-top: 0;
  }

  .view-all-texts-control-box-cell-pager table.pagerer {
    margin-top: 1rem;
  }
}






.kmap-typeahead-picker .shanticon-magnify{
  position: absolute;
  top: 2.7rem;
}

.page-node-edit .page-node-edit.no-sidebars .tab-pane.main-col{
  max-width:1150px !important;
}

.page-node-edit .node-book-form input#edit-title{
  max-width: 88rem;
}



/* CKEDITOR */

.cke_widget_wrapper.cke_widget_block {
  padding: 10px 0;
  margin: 30px 0;
  clear:both;
}


/* position bottom pagers */
.content .attachment-after table.pagerer{
  margin-right: 2rem;
}



/* temp fix for features */
.page-collections .views-field{
  padding: 0 0.5rem 0.5rem 1rem;
}

.page-collections .views-field.views-field-title{
  margin-bottom:.5rem;
}





.page-node-edit .panel.panel-default .panel-heading h6{
  height: 72px;
}


.page-node-edit .kmap-filter-box button{
  display:none;
}

.page-node-edit .kmap-typeahead-picker .shanticon-magnify{
  position: absolute;
  top: 2.75rem;
}

.vertical-tabs .panel-default .panel-body{
  border:none;
}

.vertical-tabs .book-outline-form .form-item{
      margin-top: 1.5rem;
}

/*
.texts.page-node-add.no-sidebars .tab-pane.main-col,
.texts.page-node-edit.no-sidebars .tab-pane.main-col,
.texts.page-node-group.no-sidebars .tab-panel.main-col {
  max-width: 95% !important;
}
*/

.form-item.form-type-checkbox.form-item-delchild label div {
  margin-right: 6px;
}



/* For now, this corrects a bug in the main menu on this Texts site */

.menu-main .levelHolderClass.rtl .backItemClass .fa.fa-angle-left {
  position: relative;
  top: -0.45rem;
}
.menu-main .levelHolderClass.rtl .fa.fa-angle-right{
  position: relative;
  top: 1.2rem;
}




#tsp-diabled {
  margin: 1rem 3rem;
  color: #bd4444;
  font-style: italic;
  text-transform: none;
}

